<div class="mdc-card">
  <div class="form-group">
    <%= f.label "Chapter Summary" %>
    <p><%= f.text_field :title, :placeholder => "Chapter Title" %></p>
    <%= f.cktext_area :summary, cols: 40 %>
  </div>
</div>
