<div class="container">
  <h1>Edit: <%= @wiki.name %></h1>
    <div class="col-md-8">
      <%= render 'edit_wiki', wiki: @wiki %>
  </div>
  <div class="col-md-4 pull-right">
    <%= link_to 'Back To Wiki', @wiki, class: 'btn btn-success' %> |
    <%= link_to 'Books Index', wikis_path, class: 'btn btn-info' %>
  </div>
</div>
