<p>
  <strong>Name:</strong>
  <%= @wiki.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @wiki.body %>
</p>

<%= link_to 'Edit This Wiki', edit_wiki_path(@wiki) %> |
<%= link_to 'Back to All Wikis', wikis_path %>
