
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "wikis";
 @import "trix";
 @import "material";

h1, h2 {
  color: #8D5090;
}

textarea {
  width: 75%;
}

html, body {
    height: 100%;
}
.container-fluid {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 50px;
}

.container-fluid:after {
    content: "";
    display: block;
    height: 100px;
}

nav {
  background-color: #8D5090;
  color: white;
  width: 100%;

}

nav a {
  color: white;
}

nav  {
  padding-left:  25px;
}

main {
  padding: 50px 40px 0 40px;
}

input {
  width: 250px;
}

.mdc-card {
  margin: 10px 5px;
  padding: 15px;
}

.chapter {
  background-color: lightblue;
  min-height: 150px;
}

footer {
    height: 100px;
    padding: 50px 0;
    color: white;
    background-color: #8D5090;
}
