
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "wikis";
 @import "material";
 @import "font-awesome-sprockets";
@import "font-awesome";

h1, h2 {
  color: #8D5090;
}

textarea {
  width: 75%;
}

html, body {
    height: 100%;
}
.container-fluid {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 50px;
}

.container-fluid:after {
    content: "";
    display: block;
    height: 100px;
}

nav {
  background-color: #8D5090;
  color: white;
  width: 100%;

}

nav a {
  color: white;
}

nav  {
  padding-left:  25px;
}

main {
  padding: 50px 40px 0 40px;
}

input {
  width: 250px;
}

.mdc-card {
  margin: 10px 5px;
  padding: 15px;
}

.chapter {
  background-color: lightblue;
  min-height: 150px;
}

table {
  width: 100%;
}

th {
  height: 40px;
  text-align: center !important;
}

th a {
  font-size: 16px;
}

th, td {
  padding: 10px !important;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2}


footer {
    height: 100px;
    padding: 50px 0;
    color: white;
    background-color: #8D5090;
}

.collapsable-anchor.collapsed {
  .minus {
    display: none !important;
  }

  .plus {
    display: block !important;
  }
}

.collapsable-anchor {
  .minus {
    display: block !important;
  }

  .plus {
    display: none !important;

  }
}
