
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "wikis";
 @import "trix";

textarea {
  width: 75%;
}

html, body {
    height: 100%;
}
.container {
    min-height: 100%;
    margin-bottom: -100px;
    padding-bottom: 50px;
}

.container:after {
    content: "";
    display: block;
    height: 100px;
}

footer {
    height: 100px;
    padding: 50px 0;
}
