// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
}

th {
  height: 40px;
  text-align: center !important;
  
  color: #ffffff;
}

th, td {
  padding: 10px !important;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2}
